# PORT=3000
MONGODB_URI=+srv://fo******_db_user:GOOVUN****GW@cluster0.vzuxzwc.mongodb.net/?appName=Cluster0


# GOOVUNBIIds4WBGW
# fortestwork25_db_user
# mongodb+srv://fo******_db_user:GOOVUN****GW@cluster0.vzuxzwc.mongodb.net/?appName=Cluster0