# PORT=3000
MONGODB_URI=mongodb+srv://fortestwork25_db_user:GOOVUNBIIds4WBGW@cluster0.vzuxzwc.mongodb.net/?appName=Cluster0retryWrites=true&w=majority


# GOOVUNBIIds4WBGW
# fortestwork25_db_user
# mongodb+srv://fortestwork25_db_user:GOOVUNBIIds4WBGW@cluster0.vzuxzwc.mongodb.net/?appName=Cluster0